@model WebSitePerformance.Core.Models.PageStatistic
    <div class="row">
        <div class="col-xs-8">
            @Html.ActionLink(@Model.PageUrl, "ShowHistory", "Performance", new { siteUrl = Model.SiteUrl, pageUrl = Model.PageUrl }, null)
        </div>

        <div class="col-xs-1">
            @Html.DisplayFor(model => model.Response)
        </div>

        <div class="col-xs-1">
            @Html.DisplayFor(model => model.ResponseMax)
        </div>

        <div class="col-xs-1">
            @Html.DisplayFor(model => model.ResponseMin)
        </div>

        <div class="col-xs-1">
            <div>
                @Model.ResponseError
            </div>
        </div>
       
    </div>

