@model WebSitePerformance.Core.Models.PageStatistic
<div class="row">
    <div class="col-xs-8">
        <div>
            @Html.DisplayFor(model => model.PageUrl)
        </div>
    </div>

    <div class="col-xs-1">
        @Html.DisplayFor(model => model.Response)
    </div>

    <div class="col-xs-1">
        @Html.DisplayFor(model => model.ResponseMax)
    </div>

    <div class="col-xs-1">
        @Html.DisplayFor(model => model.ResponseMin)
    </div>

    <div class="col-xs-1">
        <div>
            @Model.ResponseError
        </div>
    </div>
</div>

